.loginContainer{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.loginContent{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'font';
}
.loginTypes{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
}

.loginTypeBorder{
    background-color: #0072EF;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.loginTypeBorderContent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.verifi{
    display: flex;
    align-items: center;

    .ant-input{
        margin-right: 1rem;
    }
}
.verifiText{
    // width: 5rem;
    font-size: 0.75rem;
    text-align: center;
}


.verifi {
    .verifiValue{
        height: 2rem;
        margin-bottom: 0.4rem;
        border-radius: 5.5rem;
    }
}
.verifiValue{
    height: 4rem;
    margin-bottom: 1rem!important;
    border-radius: 5.5rem!important;
}
.loginButton{
    height: 4rem;
    color: #fff;
    // margin-top: 1.25rem;
    // background-color: #2DDBE1!important;
    // border-color: #2DDBE1!important;
}

@media screen and (min-width: 1680px) and (max-width: 1980px){
    .verifiValue{
        height: 2.5rem;
        font-size: 0.8rem;
    }
    .loginButton{
        height: 2.5rem;
        font-size: 1rem !important;
    }
}


@media screen and (min-width: 1480px) and (max-width: 1679px){
    .verifiValue{
        height: 3rem;
        font-size: 1rem !important;
    }
    .loginButton{
        height: 3rem;
        font-size: 1.2rem !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1479px){
    .verifiValue{
        height: 3.5rem;
        font-size: 1.2rem !important;
    }
    .loginButton{
        height: 3.5rem;
        font-size: 1.4rem !important;
    }
}

@media screen and (min-width: $phoneWidth) and (max-width: $PadWidth) {
    .ant-input-group.ant-input-group-compact{
        height: unset;
    }
    .loginTypes{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .loginButton{
        height: 7rem !important;
        font-size: 3rem !important;
    }
    .verifiValue{
        height: 7rem !important;
        font-size: 2.8rem !important;
        margin-bottom: 2.5rem!important;
        border-radius: 5.5rem!important;
    }
    .loginContent{
        padding: 0 8rem;
        width: 100%;
    }
    .loginContent img{
        height: unset;
        width: 100%;
       
    }
}
@media screen and (min-width: $phoneWidth) and (max-width: 700px){
    .ant-input-group.ant-input-group-compact{
        height: 11rem;
        margin-bottom: 3rem;
    }
    .loginContentImg{
        position: relative;
        top:-30rem
    }
    .verifiValue{
        height: 10rem !important;
        font-size: 3.5rem !important;
        margin-bottom: 2rem;
        border-radius: 5.5rem;
    }
    .verifi {
        .verifiValue{
            height: 10rem;
            margin-bottom: 2rem;
            border-radius: 5.5rem;
        }
    }
    .loginTypes {
        font-size: 4.5rem !important;
        margin-bottom: 1.5rem;
    }
    .loginButton{
        height: 10rem !important;
        font-size: 3.7rem !important;
        margin-top: 4rem!important;
    }

    // .loginContent img{
    //     margin-bottom : 50rem
    // }
}
@media screen and (min-width: 700px) and (max-width: $PadWidth){
    .loginContent{
        // padding: 0 12rem;
        width: 70%;
        img{
            height: unset;
            width: 100%;
        }
        .loginTypes{
            font-size: 2.5rem;
        }
      
    }
}
@media screen and (min-width: $PadWidth){
    .loginContent{
        width: 30%;
        img{
            height: unset;
            width: 100%;
        }
        .loginTypes{
            font-size: 1.5rem;
        }
       
    }
} 
//页脚
.footItemsWeb{
    display: flex;
    justify-content: space-around;
    // margin-bottom: 0.42rem;
    color: rgba(0, 0, 0, 0.45);
    font-size: 2rem;
}
.footItems{
    display: flex;
    margin-bottom: 0.42rem;
    justify-content: space-around

}
.footItem{
    flex: 1;
    text-align: center;
    color: rgba(0,0,0,0.45);
    font-size: 0.73rem;
}
.footCompany{
    color: rgba(0,0,0,0.45);
    font-size: 0.73rem;
    margin-bottom: 1.25rem;
}
.footCompanyWeb{
    color: rgba(0,0,0,0.45);
    font-size: 2.73rem;
    margin-bottom: 1.25rem;
}