.loginOut{
    margin-top: 1rem;
    // background-color: #fefefe;
    // padding: 0.72rem 1.2rem;
    .loginOutButton{
       font-size: 1.28rem;
       color: #fff;
       padding: 0.72rem 0;
       background: linear-gradient( 135deg, #46B9FF 0%, #B4D4FF 100%);
       border-radius: 0.72rem;
       text-align: center;
    }
}