.imgContent {
    position: relative;
    height: 5rem;
    width: 5rem;
    flex: 1;
    display: flex;
    // justify-content: center;
    align-items: end;
    // border-radius: 50%;
    overflow: hidden;

    .img {
        height: 5rem;
        width: 5rem;
        border-radius: 0.48rem;
    }
}