@charset "UTF-8";
.messagePage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messagePage .messageMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F2F5F8;
  box-sizing: border-box;
  height: 100vh;
}

.messagePage .messageMain .messagetitle {
  width: 100%;
  height: 6rem;
  padding-top: 3.3rem;
  background: #F2F5F8;
}

.messagePage .messageMain .messagetitle .messageTitleBtn {
  margin-left: 5.8rem;
  height: 6rem;
  display: flex;
  align-items: center;
  background: #F2F5F8;
}

.messagePage .messageMain .messageMainData {
  width: 100%;
  padding-top: 3.3rem;
  height: 100%;
}

.messagePage .messageMain .messageMainData .messageMainDataTitle {
  display: flex;
  justify-content: space-between;
  margin-left: 1.7rem;
  align-items: center;
}

.messagePage .messageMain .messageMainData .messageMainDataTitle .messageMainDataTitlediv {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 0.4rem;
}

.on {
  background: #0072EF !important;
  color: #fff !important;
}

.btn {
  display: flex;
  width: 7rem;
  height: 2.8rem;
  background: #ffffff;
  margin-right: 3rem;
  color: #000;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  font-weight: 900;
}

.btn:nth-child(2) {
  width: 1px;
  height: 45px;
  border: 1px solid #A4B0BC;
  padding: 0 !important;
}

.messageMainDatadiv {
  width: 92.5rem;
  background: #ffffff;
  border-radius: 0.8rem;
  margin-left: 5.8rem;
}

.projectContent {
  height: calc(100% - 150px);
  padding: 1rem;
  background: #ffffff;
}

.msgToinfoStrPage {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}

.msgToinfoStrPage .msgToinfoStrPageDiv {
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: space-between;
  font-family: 'PingFang SC';
}

@media screen and (min-width: 940px) {
  .messageTitlediv2 {
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .messageTitlediv2 .messageTitlediv2_you {
    width: 296px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 300px) and (max-width: 940px) {
  .messageTitleBtn {
    margin-left: 1rem !important;
    height: 5rem !important;
  }
  .messageTitleBtn .btn {
    display: flex;
    width: 5rem;
    height: 1.8rem;
    background: #F5F8FA;
    margin-right: 1.1rem;
    color: #000;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    font-weight: 900;
  }
  .messageMainData {
    padding-top: 2.3rem !important;
  }
  .btn:nth-child(2) {
    width: 1px;
    height: 1rem;
    border: 1px solid #A4B0BC;
    padding: 0 !important;
  }
  .messageMainDatadiv {
    width: 43.2rem !important;
    margin-left: 0.8rem;
    height: calc(100% - 4.5rem);
  }
  .messageMainDataTitlediv {
    margin-top: 0rem !important;
    margin-left: 0 !important;
    display: flex;
  }
  .messageMainDataTitle {
    display: flex;
    justify-content: space-between;
    margin-left: 0.8rem !important;
    height: 3rem;
  }
  .messageMainDataTitle p {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  .messageMainDataTitle span {
    font-size: 0.8rem;
  }
  .messageMainDataTitle .messageMainDataTitledivbac {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    opacity: 100;
    background: #0072EF;
  }
  .projectContent {
    height: calc(100% - 5.8rem);
    margin-top: 0rem;
  }
  .projectContent .msgToinfoStrPage {
    display: flex;
    height: 1.8rem;
  }
  .projectContent .msgToinfoStrPage .msgToinfoStrPageDiv {
    font-size: 0.6rem;
    margin-right: 1rem;
    font-family: PingFang SC;
  }
}

@media screen and (min-width: 300px) and (max-width: 940px) {
  .MessageYiDong {
    margin-top: 4rem;
    display: flex;
    height: calc(100% - 9.5rem);
    background: #fff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .MessageYiDongFanHui {
    margin-left: 1rem;
    font-weight: 900;
    font-size: 2rem;
    width: 10%;
  }
  .MessageYiDongDivInput {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border: solid 1px #ccc;
    background: #F5F8FA;
    width: 60%;
  }
  .MessageYiDongDivInput .MessageYiDOngTitlesearchSelect {
    width: 6.2rem !important;
  }
  .MessageYiDongDivInput .MessageYiDOngTitlesearchSelect .ant-select-selector {
    border: 0 !important;
  }
  .MessageYiDongDivInput .MessageYiDOngTitlesearchSelect .ant-select-selector {
    padding: 0 0.6rem !important;
    background-color: unset !important;
    box-shadow: unset !important;
  }
  .MessageYiDongDivInput .messageTitlediv2_you_inp {
    width: 70%;
    height: 2rem;
    border: none;
    outline: none;
    outline: none;
    margin-left: 1rem;
    box-shadow: none;
    background: #F5F8FA;
  }
  .MessageYiDongDivInput .MessageYiDongFangDAJing {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: #ccc;
    text-align: center;
    margin-right: 0.6rem;
  }
  .MessageYiDongShiJian {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 0.4rem;
    width: 17%;
    color: #929EAB;
    font-family: 'PingFang SC';
  }
  .MessageYiDOngTitle {
    width: 100%;
    display: flex;
    background: #929EAB;
    height: 4.5rem;
    padding-top: 1rem;
    background: #fff;
    overflow-y: scroll;
    z-index: 1;
    align-items: center;
    line-height: 4.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .MessageYiDOngTitle .btn {
    border-radius: 2.2rem;
    color: #929EAB;
    line-height: 4.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    height: 2rem;
    background: #F5F8FA;
    border: none;
  }
  .MessageYiDOngTitle .onn {
    font-weight: 900;
    color: #fff;
    background: #0072EF;
  }
  .MessageYiDOngTitle .btn:nth-child(2) {
    width: 1px;
    height: 2rem;
    border: 1px solid #A4B0BC;
    padding: 0 !important;
    display: disabled;
  }
  .messageMainDataTitledivcontainer {
    display: flex;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    background: #FFFFFF;
  }
  .messageMainDataTitledivcontainercard {
    border-color: #929EAB;
    border-radius: 0.5rem;
    text-align: center;
    width: 47%;
    height: 8rem;
    background: #ffffff;
    font-size: 0.1rem;
  }
  .messageMainDataTitlesubtitle {
    font-size: 0.4rem;
    font-weight: bold;
    padding-top: 1.5rem;
  }
  .messageMainDataTitledivcount {
    font-size: 2rem;
    color: #0072EF;
    font-weight: 900;
  }
  .messageMainDataTitlesubtitle {
    font-size: 18px;
    color: #555;
  }
  .messageMainDataTitlesubtitlecount {
    font-size: 1.5rem;
    color: #007BFF;
  }
  .messageMainDataTitledivcontainercarddiv {
    display: flex;
    width: 100%;
    height: 7rem;
    border-color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 2rem;
    margin-top: 1rem;
  }
  .messageMainDataTitledivcontainercardqiantian {
    width: 50%;
    height: 75%;
    font-size: 1.1rem;
    padding: 0.3rem;
    color: #929EAB;
  }
  .messageMainDataTitledivcontainercardqiantiandiv {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
  }
  .messageMainDataTitledivcontainercardqiantianyesterday {
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
  }
  .messageMainDataTitledivcontainercardqiantianyesterday:nth-child(1) {
    color: #007BFF;
    font-weight: 600;
  }
  .biaogetable {
    width: 96%;
    border-radius: 1.4rem;
    background: #FFFFFF;
    margin-left: 2%;
  }
  .table-container {
    border-radius: 0.4rem;
    background: #ffffff;
    width: 100%;
    height: calc(100% - 5.8rem);
    font-size: 1rem;
    border-collapse: collapse;
    overflow-x: auto;
    /* 允许在小屏幕上滚动 */
  }
  .notification-table {
    width: 100%;
    border-collapse: collapse;
  }
  .notification-table th,
  .notification-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .notification-table thead {
    width: 100%;
    height: 100%;
    background: #F5F8FA !important;
    border-bottom: dashed 1px #ccc;
  }
  .notification-table th {
    background-color: #ffffff;
    border: none;
  }
  .notification-table tr {
    height: 4rem;
  }
  .notification-table tbody td {
    border: none;
    border-bottom: solid 1px #ccc;
  }
}
