@import '../../variable';
.messagePage{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    .messageTitle{
     left: 44px;
     height: 60px;
     opacity: 1;
     display: flex;
     justify-content: space-between;
     background: #FFFFFF;
     box-shadow: 0px 4px 10px 1px rgba(229, 229, 229, 0.5);
     margin-bottom: 0;
    }
    .messageMain{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #F2F5F8;
        box-sizing: border-box; 
        .messagetitle{
            width: 100%;
            height: 6rem;
            padding-top: 3.3rem;
            background: #F2F5F8;
            .messageTitleBtn{
                margin-left: 5.8rem;
                height: 6rem;
              
                display: flex;
                align-items: center;
                background: #F2F5F8;
            }
        }
        .messageMainData{
            width: 100%;
          padding-top: 3.3rem;
        
          .messageMainDataTitle{
            display: flex;
            justify-content: space-between;
            margin-left: 1.7rem;
            align-items: center;
            .messageMainDataTitlediv{
                display: flex;
                margin-top: 1.5rem;
                margin-left: 0.4rem;
            }
            .messageMainDatadiv{
                height: 34rem;
                background: #fff;
                margin-left: 5.8rem;
                width: 100%;
                          }
          }

        }
    }
}
.messageTitle{
    width: 100%;
    height: 115px;
  
    background: #F2F5F8;
    padding-top: 3.3rem;
}
.messageTitleName{
    width: 70%;
    padding-left: 76px;
    height: 115px;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F5F8;
}
.on{
    background: #0072EF !important;
    color: #fff !important;
}
.bun:nth-child(2){
    width: 1px;
    height: 45px;
   border: 1px solid #A4B0BC;
   padding: 0!important;
  }
  .footer{
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerDiv1{
    width: 5rem;
    margin-right: 1.8rem;
    font-family: 'PingFang SC';
    color: #0072EF;
    font-size: 1rem;

  }