@charset "UTF-8";
.setContent.nurseSetContent {
  flex-direction: row;
}

.setContent {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  background-color: #F5F6F7;
}

.setContent .setBox {
  flex: 1;
  margin-bottom: 60px;
  margin-top: 4rem;
}

.setContent .reprotSelect {
  display: none;
}

.setContent .setTitle {
  background-color: #fefefe;
  padding: 1rem 2rem;
  border-bottom: #F5F6F7 1px solid;
  display: flex;
  justify-content: space-between;
  font-size: 1.28rem;
  color: #222;
  align-items: center;
}

.setContent .setTitle .setTitleImg {
  width: 1.76rem;
  height: 1.76rem;
}

.setContent .setTitle img {
  width: 1rem;
  height: 1rem;
}

.setContent .loginOut {
  margin-top: 1rem;
}

.setContent .loginOut .loginOutButton {
  font-size: 1.28rem;
  color: #fff;
  padding: 0.72rem 0;
  background: linear-gradient(135deg, #46B9FF 0%, #B4D4FF 100%);
  border-radius: 0.72rem;
  text-align: center;
}

.isTemp.care_box {
  display: flex;
  align-items: center;
}

.isTemp.care_box:not(:last-child):before {
  top: 32px;
}

.care_box:not(:last-child):before {
  display: inline-block;
  content: " ";
  width: 0.2rem;
  height: calc(100% - 13px);
  position: absolute;
  top: 30px;
  left: 4.3rem;
}

.care_box.finsh::before {
  background: #0072ef;
  height: 100%;
}

.care_box.todo::before {
  background: #E6EBF0;
  height: 100%;
}

.NurseTableImg::before {
  content: '';
  position: absolute;
  left: 7.9rem;
  top: 1rem;
  width: 0.9rem;
  height: 0.9rem;
  background: url("../../../assets/images/shijian.png") no-repeat center center;
  /* 设置背景图片 */
  background-size: 100% 100%;
  /* 确保图片覆盖整个伪元素 */
}

.NurseTableImgBox::before {
  content: '';
  position: absolute;
  left: 6rem;
  top: 1.4rem;
  width: 0.9rem;
  height: 0.9rem;
  background: url("../../../assets/images/shijian.png") no-repeat center center;
  /* 设置背景图片 */
  background-size: 100% 100%;
  /* 确保图片覆盖整个伪元素 */
}

.NurseTableTitle {
  line-height: 2.3rem;
  padding-left: 1.5rem;
  padding-right: 2.6rem;
}
