.tabContent,
.mobileTabContent {
  height: 100%;
}

.tabContent :global .ant-table-wrapper .ant-table-thead > tr > th,
.mobileTabContent :global .ant-table-wrapper .ant-table-thead > tr > th {
  font-size: 0.875rem;
}

.tabContent :global .ant-tabs-content-holder,
.mobileTabContent :global .ant-tabs-content-holder {
  overflow-y: auto;
}

.tabContent :global .ant-tabs-content-holder .ant-tabs-content,
.mobileTabContent :global .ant-tabs-content-holder .ant-tabs-content {
  height: 100%;
}

.tabContent :global .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane,
.mobileTabContent :global .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane {
  height: 100%;
}

.tabContent :global .ant-tabs-nav,
.mobileTabContent :global .ant-tabs-nav {
  background-color: #fff;
}

.tabContent :global .ant-tabs-nav::before,
.mobileTabContent :global .ant-tabs-nav::before {
  border-bottom: none;
}

.tabContent :global .ant-tabs-tab,
.mobileTabContent :global .ant-tabs-tab {
  font-size: 1rem;
}

.tabContent :global .ant-tabs-tab + .ant-tabs-tab,
.mobileTabContent :global .ant-tabs-tab + .ant-tabs-tab {
  margin-left: 80px;
}

.tabContent :global .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.mobileTabContent :global .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 1rem;
  font-weight: 600;
}

.tabContent :global .ant-empty-image,
.mobileTabContent :global .ant-empty-image {
  height: 0;
}

.tabContent :global .ant-empty-description,
.mobileTabContent :global .ant-empty-description {
  font-size: 0.8rem;
}

.tabContent :global .nurseTableRow,
.mobileTabContent :global .nurseTableRow {
  vertical-align: top !important;
}

:global .ant-checkbox-inner,
:global .ant-radio-inner {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.pcCheckoutValue :global .ant-checkbox-wrapper {
  margin-top: 1rem;
  font-size: 1rem !important;
}

.pcCheckoutValue :global .ant-checkbox-wrapper .ant-checkbox-inner {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.mobileTabContent :global .ant-tabs-nav {
  position: fixed !important;
  top: 9.8rem;
  z-index: 9;
  width: 100%;
}

.mobileTabContent :global .ant-tabs-content-holder {
  padding-top: 12.5rem;
}

.mobileTabContent :global .ant-table-wrapper .ant-table-cell,
.mobileTabContent :global .ant-table-wrapper .ant-table-thead > tr > th {
  padding: 16px 8px !important;
}

.rowItem {
  padding: 10px 0;
  color: #6C7784;
}

.rowItem + .rowItem {
  border-top: 1px solid #DCE3E9;
}

.mobileSettingContent :global .adm-list-header {
  font-size: 1.125rem;
  color: #3D3D3D;
  font-weight: 600;
}

.mobileSettingContent :global .adm-list-body {
  border-radius: 10px;
  color: #6C7784;
}

.mobileSettingContent :global .adm-picker-header-button:first-child {
  color: #3D3D3D;
}

.mobileSettingContent :global .adm-picker-header-title {
  font-weight: 500;
  font-size: 1.125rem !important;
}
