.darkRow .ant-table-cell {
  background: #F5F8FA;
  color: #6C7784;
  font-size: 0.875rem;
  border-bottom: none !important;
  border-top: 10px solid #fff;
}

.disabledPlan .planText span {
  color: #C2CDD6 !important;
}
