.title {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  background-color: #fff;
  font-family: sy;
}

.homeTitle {
  padding: 0.8rem 1.25rem;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0rem 0.1rem 0.52rem 0rem rgba(24, 22, 22, 0.03);
  box-sizing: border-box;

  height: 3.28rem;
  z-index: 100;
}

.homeTitle img {
  height: 2.6rem;
  // width: 310px;
}

.titleLeft {
  cursor: pointer;
}

.searchInput {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  z-index: 100;
}

.infoIcon {
  width: 1rem;
}

.searchInput input {
  width: 12.46rem;
  height: 2.67rem;
  border: #D1D9E1 solid 1px;
  border-radius: 0.4rem;
  padding-left: 5.8rem !important;
  font-weight: 500;
}

.searchInput img {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 7rem;
}

// .searchInput .HomeRightTitleInputSelect{
//   position: absolute;
//   width: 1px ;
// }
.titleRight {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
}

.icons img {
  width: 0.94rem;
  height: 0.94rem;
}

.icon {
  margin-right: 2rem;
}

.headImg img {
  width: 1.56rem;
  height: 1.56rem;
}

.homeContent {
  .reprotSelect {
    display: none;
  }
}
.titleContentItem {
  display: flex;
  position: relative;
  height: 100%;
}

.titleContentItem {
  display: flex;
  align-items: center;
}

.is_offline_box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000000000000000;
  background: #fff;
  .adm-error-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .adm-error-block-image {
        display: flex;
        justify-content: center;
    }
  }
}

// @media screen and (min-width: 530px) and (max-width: $PadWidth) {
//     .homeTitle{
//         .titleLeft {
//             img{
//                 height: 3.6rem;
//             }
//         }
//     }

// }

@media screen and (min-width: $phoneWidth) and (max-width: $PadWidth) {
  .homeTitle {
    // flex-direction: column;
    // display: none;
    // position: fixed;
    // top: 0;
    // left: 0;
    height: 3.28rem;
  }

  .deviceTitle {
    width: 6rem;
  }
}

.reprotSelect {
  flex: 5;
  display: flex;
  background-color: #fefefe;
  padding: 0 5.08rem;
  justify-content: space-between;
  height: 3.52rem;
  width: 100%;
}

.reprotSelectItem {
  flex: 1;
  // padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  text-align: center;
  position: relative;
}

.borderBottom {
  width: 100%;
  height: 0.32rem;
  position: absolute;
  bottom: 0;
  border-radius: 0.16rem;
  background: linear-gradient(to right, #009fff, #006cfd);
}

@media screen and (min-width: $PadWidth) {
  .reprotSelect {
    display: none !important;
  }
  .homeTitle {
    margin-left: 5.3rem;
    width: unset;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .pcReprotSelect {
    // flex: 5;
    display: flex;
    background-color: #fefefe;
    // padding: 0 5.08rem;
    justify-content: space-between;
    height: 3.28rem;
    // width: 30%;
    .reprotSelectItem {
      padding: 0 1rem;
    }
  }
}
.searchSelect {
  position: absolute !important;
  left: 0.3rem;
  // border-right: 2px #ccc solid;
  .ant-select-selector {
    border: 0 !important;
  }
  width: 5.2rem !important;
  .ant-select-selector {
    padding: 0 0.6rem !important;
    background-color: unset !important;
    box-shadow: unset !important;
  }
}
.searchSelect::after{
  content: '';
  display: flex;
  align-items: center;
  width: 1px;
  height: 70%;
  line-height: 12.46rem;
margin-top: 4%;
  background: #929EAB;
}
.deviceTitle {
  width: 6rem;
}

.deviceItem {
  margin-bottom: 0.5rem;
}

.reprotSelect {
  .ant-picker {
    width: 200px;
  }
}

.messageTitlediv2 {
  // width: 37rem;
  height: 3rem;
  display: flex;
  align-items: center;
  // justify-content: center;
  justify-content: flex-end;
  margin-right: 2rem;
  .messageTitlediv2_you {
    width: 15rem;
    height: 2.07rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    border-radius: 4px;
    border: solid 1px #d9d9d9;
    font-size: 0.7rem;
    margin-left: 1rem;
    .ant-select-selector{
      box-shadow:none!important
  }
    .messageTitlediv2_you_inp {
      width: 14rem;
      height: 1.3rem;
      border: none;
      padding: 0 0 0 0.8rem;
      font-size: 14px;
      outline: none;
      box-shadow: none;
      font-size: 0.7rem;
    }
    .MessageYiDOngTitlesearchSelect .css-dev-only-do-not-override-1v5z42l .ant-select-single .ant-select-show-arrow{
      border: none !important;
      border-radius: none!important;
    }
  }
  // margin-right: 10px;
}
//消息页头部
@media screen and (min-width: $PadWidth) and (max-width: $phoneWidth) {
  .homeTitle {
    display: flex;
    justify-content: normal !important;
    font-weight: 900;
  }
}

.MessageYiDOngTitlesearchSelect {
  .ant-select-selection-item{
    border: none !important;
    border-radius: none;
  }
  .ant-select-selection-wrap {
    border: none !important;
    border-radius: none;
  }
  .ant-select-selector {
    border: none !important;
    border-radius: none;
  }
  .ant-select
    .ant-select-outlined
    .css-dev-only-do-not-override-tjsggz
    .ant-select-single
    .ant-select-show-arrow {
    border: none !important;
    border-radius: none;
  }

}
//
