.bedSoresSleepType {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex: 1;
    // height: 8.28rem;
}
.time_picker_box {
    z-Index: 100000002 !important;
}