.input_number_reset :where(.css-dev-only-do-not-override-19c4mm8).ant-input-number-outlined.ant-input-number-disabled, .input_number_reset :where(.css-dev-only-do-not-override-19c4mm8).ant-input-number-outlined[disabled] {
  background: #fff !important;
}

.input_number_reset :where(.css-dev-only-do-not-override-19c4mm8).ant-input-number-disabled .ant-input-number-input, .input_number_reset :where(.css-dev-only-do-not-override-19c4mm8).ant-input-number-readonly .ant-input-number-input {
  color: #000 !important;
}

.input_number_reset .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}

.input_number_reset .date-input-item {
  position: relative;
}

.input_number_reset .date-input-item:first-child {
  margin-right: 13px;
}

.input_number_reset .date-input-item:not(:first-child) {
  margin: 0 13px;
}

.input_number_reset .date-input-item .ant-input-number-input-wrap {
  width: 100px;
}

.input_number_reset .date-input-item .btn-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  cursor: pointer;
}

.input_number_reset .date-input-item .btn-box span {
  font-size: 11px;
  height: 11px;
  line-height: 11px;
  margin-right: 5px;
}
