.NursingOpenVal {
  display: flex;
  width: 100%;
  margin-bottom: 1.35rem;
  height: 2.48;
  align-items: center;
}

.NursingOpenTitle {
  font-size: 0.8rem;
  font-style: 600;
  font-family: ' PingFang SC';
  color: #000;
  margin-right: 5px;
}

.nursingStencildiv::before {
  content: "";
  position: relative;
  left: 6.27rem;
  top: 2.6rem;
  width: 3px;
  height: 100%;
  background: #D8D8D8;
}

.nursingStencildivBox:last-child .nursingStencildiv::before {
  display: none;
}

.nursingStencildiv1::before {
  content: "";
  position: relative;
  left: 7.2rem;
  top: 2.6rem;
  width: 3px;
  height: 100%;
  background: #D8D8D8;
}

.nursingStencildivBox:last-child .nursingStencildiv1::before {
  display: none;
  border-bottom: none;
}

.qx {
  border: none;
}
