.nurseReport2 .nursecard {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.nurseReport2 .nurseTitleReal {
  position: relative;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.nurseReport2 .personalInfo {
  background-color: #fefefe;
  box-shadow: 0rem 0.75rem 4.17rem 0rem rgba(167, 209, 255, 0.46), 0rem 0.33rem 1.42rem 0rem rgba(0, 129, 254, 0.06);
  border: 0.17rem solid #FFFFFF;
  overflow: hidden;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1.39rem;
  border-radius: 1.1rem;
  padding: 1.2rem;
  height: 100%;
  position: relative;
}

.nurseReport2 .personalInfo .bgc {
  height: 8rem;
  position: absolute;
  opacity: 0.2;
  right: -3rem;
  bottom: 0;
}

.nurseReport2 .personalInfo .bgc img {
  height: 100%;
}

.nurseReport2 .personalInfo .setting {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
}

.nurseReport2 .personalInfo .setting img {
  width: 100%;
  height: 100%;
}

.nurseReport2 .nurseReportContent {
  flex: 1;
  background-color: #eee;
  padding: 1rem;
  overflow-y: scroll;
}

.nurseReport2 .personLeft {
  display: flex;
}

.nurseReport2 .spin {
  z-index: 100000002 !important;
}

.nurseReport2 .imgContent {
  position: relative;
  height: 5rem;
  width: 5rem;
  flex: 1;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.nurseReport2 .imgContent .img {
  height: 5rem;
  width: 5rem;
  border-radius: 0.48rem;
}

.nurseReport2 .personalImg {
  width: 7.52rem;
  height: 7.52rem;
  border-radius: 0.56rem;
  margin-bottom: 1.53rem;
  margin-right: 0.96rem;
  overflow: hidden;
}

.nurseReport2 .personalImg .img {
  width: 100%;
  height: 100%;
}

.nurseReport2 .personalName {
  margin-bottom: 2rem;
  font-size: 1.36rem;
  font-weight: bold;
}

.nurseReport2 .itemContent {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.48rem;
}

.nurseReport2 .itemContents .itemData {
  font-size: 1.04rem;
  color: #222222;
}

.nurseReport2 .itemTitle {
  color: #888888;
  margin-right: 10px;
  flex: 3;
  font-size: 1.04rem;
}

.nurseReport2 .nurseItemTitle {
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.nurseReport2 .secondHint {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.nurseReport2 .secondContent {
  border: #eee 3px dashed;
}

.nurseReport2 .secondHeatmap {
  display: flex;
}

.nurseReport2 .secondImgContent {
  display: flex;
}

.nurseReport2 .finishLogo {
  background: linear-gradient(270deg, #006CFD 6%, #009FFF 95%);
  padding: 3px;
  border-radius: 4px;
}

.nurseReport2 .nurseborderBottom {
  border-bottom: #eee 1px solid;
}
