// @import '../../../../../variable';
// @media screen and (min-width: $phoneWidth) and (max-width: $PadWidth) {
    .nurse_scroll {
    // height: calc(100% - 2rem);
    flex: 1;
    overflow: auto;
    // padding-bottom: 2rem;
    margin-top: 1rem;
}
.nurse_list {
    padding: 0 0.5rem 0.5rem;
    .list_item {
        position: relative;
        display: flex;
        padding: 0.5rem;
        &:nth-child(1) {
            background: #F5F8FA;
            p {
                font-weight: 600;
            }
        }
        p {
            flex-shrink: 1;
            &:nth-child(1) {
                width: 5rem;
                flex-shrink: 0;
            }
            &:nth-child(2) {
                flex: 1;
                flex-wrap: wrap;
                word-break: break-all;
            }
            &:nth-child(3) {
                display: flex;
                align-items: center;
                width: 4.4rem;
                color: #929EAB;
                justify-content: center;
                span {
                    width: 100%;
                    text-align: center;
                    padding: 0.2rem;
                    margin-right: 0.2rem;
                }
            }
            &:nth-child(4) {
                width: 3rem;
                text-align: center;
            }
        }
        &:nth-child(1) {
            p {
                
                &:nth-child(2) {
                    padding-left: 1.5rem;
                }
            }
        }
        &:not(:first-child) {
            p {
                &:nth-child(1) {
                    display: flex;
                    span {
                        &:nth-child(1) {
                            width: 3rem;
                            font-weight: 400;
                        }
                        &:nth-child(2) {
                            flex-shrink: 0;
                            position: relative;
                            z-index: 2;
                            display: inline-block;
                            background: #E6EBF0;
                            border-radius: 100%;
                            color: #fff;
                            width: 1.5rem;
                            height: 1.5rem;
                            text-align: center;
                            line-height: 1.5rem;
                            font-weight: 400;
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        background: #E6EBF0;
                        border-radius: 0.3rem;
                        font-weight: 400;
                    }
                }
                &:nth-child(4) {
                    color: #0072EF;
                    font-weight: 400;
                }
            }
        }
        &.todo::before {
            background: #E6EBF0;
            height: 100%;
        }
        &.is_line:not(:last-child):before {
            display: inline-block;
            content: " ";
            width: 0.2rem;
            height: 100%;
            position: absolute;
            top: 1rem;
            left: 4.15rem;
            background: #E6EBF0;
            z-index: 1;
        }
    }
}
// }