.nurse_scroll {
  flex: 1;
  overflow: auto;
  margin-top: 1rem;
}

.pc_nurse_list {
  height: 100%;
}

.pc_nurse_list .list_item {
  position: relative;
  display: flex;
  padding: 0 0.5rem;
}

.pc_nurse_list .list_item:not(:last-child) > p span:nth-child(2).index_box:before {
  display: inline-block;
  content: " ";
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 1.8rem;
  left: 50%;
  transform: translateX(-50%);
  background: #E6EBF0;
  z-index: 1;
}

.pc_nurse_list .list_item > p {
  width: 6rem;
  border-bottom: 1px solid transparent;
}

.pc_nurse_list .list_item > p span:nth-child(1) {
  width: 3rem;
  padding: 0.8rem 0;
}

.pc_nurse_list .list_item > p span:nth-child(2) {
  display: flex;
  position: relative;
}

.pc_nurse_list .list_item > p span:nth-child(2) i {
  position: relative;
  top: 0.7rem;
  z-index: 2;
  display: inline-block;
  background: #E6EBF0;
  border-radius: 100%;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-style: normal;
  line-height: 1.5rem;
}

.pc_nurse_list .list_item .content {
  display: flex;
  flex: 1;
  border-bottom: 0.1rem solid #D8D8D8;
}

.pc_nurse_list .list_item .content p:nth-child(1) {
  display: flex;
  padding: 0.8rem 0;
  flex: 1;
}

.pc_nurse_list .list_item .content p:nth-child(1) span:nth-child(1) {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.pc_nurse_list .list_item .content p:nth-child(1) span:nth-child(2) {
  flex: 1;
}

.pc_nurse_list .list_item .content p:nth-child(2) {
  padding: 0.8rem 0;
  width: 5.5rem;
}

.pc_nurse_list .list_item .content p:nth-child(2) span {
  padding: 0.4rem 0.8rem;
  background: #e6ebef;
  border-radius: 0.2rem;
}

.pc_nurse_list .list_item .content p:nth-child(3) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  padding: 0.8rem 0;
  padding: 0.4rem 0 0;
  text-align: center;
}

.pc_nurse_list .list_item .content p:nth-child(3) img {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}

.pc_nurse_list .list_item:not(:first-child) .content p:nth-child(3)::before {
  position: absolute;
  content: ' ';
  display: flex;
  width: 0.5rem;
  height: 1rem;
  background: #fff;
  transform: translateY(0.1rem);
  bottom: -0.2rem;
  left: 0;
}

.pc_nurse_list .list_item:nth-child(1) {
  background: #F5F8FA;
  border-radius: 0.2rem;
}

.pc_nurse_list .list_item:nth-child(1).daEeport {
  border-radius: 0.5rem;
  background: #F5F5F5 !important;
}

.pc_nurse_list .list_item:nth-child(1).daEeport p {
  padding-left: 1rem;
}

.pc_nurse_list .list_item:nth-child(1).daEeport .content p:nth-child(1) {
  padding-left: 3.5rem;
}

.pc_nurse_list .list_item:nth-child(1) > p {
  padding: 0.4rem 0;
  border-bottom: 0px solid #fff;
}

.pc_nurse_list .list_item:nth-child(1) .content {
  border-bottom: 0px solid #fff;
}

.pc_nurse_list .list_item:nth-child(1) .content p {
  padding: 0.4rem 0;
}

.pc_nurse_list .list_item:nth-child(1) .content p:nth-child(1) {
  padding-left: 1.5rem;
}

.pc_nurse_list .list_item:nth-child(1) .content p:nth-child(2) {
  padding-left: 1rem;
}

.pc_nurse_list .list_item:nth-child(1) .content p.is-radius {
  border-right: 0.2rem solid #fff;
  border-radius: 0 0.2rem 0.2rem 0;
}

.pc_nurse_list .list_item:nth-child(1) .content p:nth-child(3) {
  text-align: center;
  border-left: 0.2rem solid #fff;
  border-radius: 0.2rem 0 0 0.2rem;
}

.pc_nurse_list .empty_nurse_box {
  height: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc_nurse_list .empty_nurse_box .ant-empty-image {
  height: 6rem;
}
